
.default_btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 8px 12px 5px 12px;
  text-decoration: none;
  text-decoration-line: none;
  color: #FFF !important;
  background: #e57e20;
  border-bottom: solid 4px #b1621b;
  border-radius: 4px;
  transition: .4s;
}

  .default_btn:hover {
      text-decoration: none;
      text-decoration-line: none;
      background: #b1621b;
      color: #FFF !important;
  }
