
@media (min-width: 501px) {
  .search-cards {
      grid-template-columns: repeat(4, 0fr);
  }

}

.search-container {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 10px;
}

.search-cards {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.search-card-field {
  margin-bottom: 15px;
  padding: 15px;
}

.header-container {
    padding: 10px;
}

.search-results {
  transition: 0.5s;
  padding: 15px;

  & .search-results-header {
    transition: 0.5s;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px;
  }

  & .search-results-content {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px;
  }
}

