<div class="search-form" [formGroup]="formGroupContainer">
  <div class="header-container">
    <h2>Search Work Days between dates</h2>
  </div>
  <div class="search-cards">
    <div class="search-card-field">
      <mat-form-field>
        <mat-label>Choose From date</mat-label>
        <input matInput [matDatepicker]="pickerFrom" formControlName="dateFrom" required (click)="pickerFrom.open()" />
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>

      <div>
        <mat-checkbox color="primary" formControlName="includeDateFrom">
          Include From Date
        </mat-checkbox>
      </div>

    </div>
    <div class="search-card-field">
      <mat-form-field>
        <mat-label>Choose To date</mat-label>
        <input matInput [matDatepicker]="pickerTo" formControlName="dateTo" required (click)="pickerTo.open()" />
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>

      <div>
        <mat-checkbox color="primary" formControlName="includeDateTo">
          Include To Date
        </mat-checkbox>
      </div>
    </div>

    <div class="search-card-field">
      <mat-form-field class="input-half-width">
        <mat-select placeholder="Type" formControlName="state" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let s of states" [value]="s">
            {{s.code}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroupContainer.get('state').hasError('required')">Please choose a State</mat-error>
        <mat-hint *ngIf="formGroupContainer.get('state').value">{{formGroupContainer.get('state')?.value?.name}} - {{formGroupContainer.get('state')?.value?.capitalCity}}</mat-hint>
      </mat-form-field>
    </div>
    <div class="search-card-field">
      <a [ngClass]="(formGroupContainer.invalid || formGroupContainer.pending) ? 'grey_btn': 'default_btn'"
         (click)="onClickSearchAsync($event)">Search</a>
    </div>
  </div>
</div>

<div class="search-results" *ngIf="displayResult">
  <div class="search-results-header">Results</div>
  <div  class="search-results-content">
    <h3> {{resultsInDays}} {{resultsInDays > 1 ? 'Days' : 'Day'}}</h3>
  </div>
</div>

