
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$GuildLink-primary: mat.define-palette(mat.$indigo-palette);
$GuildLink-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$GuildLink-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$GuildLink-theme: mat.define-light-theme((
  color: (
    primary: $GuildLink-primary,
    accent: $GuildLink-accent,
    warn: $GuildLink-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($GuildLink-theme);

/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,400,300,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,400,300,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700);

$mat-font-family: "Poppins", sans-serif;
$base-color: #212121;

html, body {
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: $mat-font-family;
  font-weight: 400;
}

.default_btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-weight: 300;
  padding: 8px 12px 5px 12px;
  text-decoration: none;
  text-decoration-line: none;
  text-align: center;
  color: #FFF !important;
  background: #2012daee;
  border-bottom: solid 4px #092570;
  border-radius: 4px;
  transition: .4s;
  min-width: 150px;

  & .default_btn:hover {
    text-decoration: none;
    text-decoration-line: none;
    background: #092570;
    color: #FFF !important;
  }
}


.grey_btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 8px 12px 5px 12px;
  text-decoration: none;
  text-decoration-line: none;
  text-align: center;
  color: #4b4b4b !important;
  background: #ebebeb;
  border-bottom: solid 4px #b6b6b6;
  border-radius: 4px;
  transition: .4s;
  min-width: 150px;

  &:hover {
    text-decoration: none;
    text-decoration-line: none;
    background: #b6b6b6;
    color: #4b4b4b !important;
  }
}

