<div *ngIf="isLoading | async" class="overlay-loader">
  <div class="overlay-logo">
    <img src="./assets/img/guild_link_logo.png" alt="Guild Link" style="width: 180px; " />
  </div>
    <div class="spinner">
        <img src="./assets/img/icons/loader.svg" alt="loading" title="loading" />
    </div>
</div>
