<div class="container-home">
  <div><h2>Welcome</h2></div>
  <div class="container-home-content">

    <div>
      Calculate working days between two dates.
    </div>
    <img src="./assets/img/calendar.png" alt="Calendar" style="width: 220px;"/>
  </div>
</div>
