<h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <mat-icon>info</mat-icon>

  {{title}}
</h2>

<div mat-dialog-content style="padding: 15px;">
  <p>{{message}}</p>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onConfirm()">Ok</button>
  &nbsp;&nbsp; 
  <button mat-button (click)="onDismiss()">Cancel</button>
</div>
